:root{
    --corfundo: #f5f1f1; /*Cor de fundo do site*/
    --cortexto: black; /*cor padrao da fonte*/
    --corprincipal:#400036;
    --corsecundaria:#FF81D0;
    --cordestaque: #D9A0BF;



    --larguramaxima: 1000px;
    --larguraminima: 250px;
}

*{
    margin: 0; /*o margin retira as margens do site*/
    padding: 0;/*retira as margens internas*/
}

body{
  background-color: var(--corfundo); /*cor de fundo*/
  color: var(--cortexto);
}  
header,main,footer{
    max-width: var(--larguramaxima); /*determina a largura maxima da pagina*/
    min-width: var(--larguraminima); /*determina a largura  minima da pagina*/
    padding: 20px; /*controla as margens internas*/
    margin: auto; /*centraliza as sessoes no meio*/
}
footer{
    background-color: var(--corprincipal);
}
footer>p{
    color: var(--corfundo)
}


h1,h2,h3{
    color: var(--cordestaque)
}
span{
    color:var(--cordestaque)
}















































#fotoperfil{
    width: 120px;
    position: absolute;
    left: 50px;
    top: 260px;
}

/*Menu*/
nav{
    display: flex; /*deixa os itens internos soltos na horizontal*/
    justify-content: center;
}
#menu{
    background-color: rgb(245, 243, 247);
    width: 120px;
    display: flex; /*deixa os itens internos soltos na horizontal*/
    justify-content: space-between; /*distribui horizontalmente os elementos internos*/
}

.menu{
    color:var(--corprincipal); /*muda cor do link*/
   text-decoration: none; /*retira o sublinado do texto*/
   font-size: 1.3em;/*muda o tamanho da fonte*/
   padding: 5px 5px 5px 5px;/*margem interna do botao*/
}
.menu:hover{
    color: var(--cordestaque);/*cor*/
    background-color: var(--corprincipal);/*cor de fundo*/
    border-radius: 5px;/*arredonda os cantos*/
    box-shadow: 3px 3px 3px black;/*iniciar a partir daqui*/
    
}
